/* .image {
	width: 10px;
	height: 60px;
	border-radius: 10px;
}
.right-arrow {
	position: absolute;
	top: 50%;
	right: 32px;
	font-size: 3rem;
	color: black;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}
.left-arrow {
	position: absolute;
	top: 50%;
	left: 32px;
	font-size: 3rem;
	color: black;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}
.slide {
	opacity: 0;
	transition-duration: 1s ease;
}
.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}
.text {
	color: #f2f2f2;
	font-size: 15px;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}

.slideshow {
	margin: 0 auto;
	overflow: hidden;
}

.slideshowSlider {
	white-space: nowrap;
	transition: ease 1000ms;
}

.slidert {
	display: inline-block;
	width: 50%;
	height: 500px;
	border-radius: 10px;
}

/* Buttons */

/* .slideshowDots {
	text-align: right;
	display: block;
	float: right;
}

.slideshowDot {
	height: 20px;
	width: 20px;
	border-radius: 50%;

	cursor: pointer;
	margin: 15px 7px 0px;

	background-color: #c4c4c4;
}

.slideshowDot.active {
	background-color: #6a0dad;
}

@media only screen and (max-width: 1020px) {
} */

.containerI {
	margin: 0 auto;
	text-align: center;
	width: 85%;
	height: 1000px;
	border: 2px solid black;
	background-color: #f8f8f8;
}

.imageContainer {
	width: 500px;
	height: 300px;
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-image 0.2s ease-in-out;
	float: right;
}

.controls {
	position: relative;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.controls__button {
	background-color: rgb(248, 248, 248);
	border: none;
	border-radius: 15px;
	padding: 15px;
	margin: 0 10px;
	cursor: pointer;
}
