/* .image {
	width: 10px;
	height: 60px;
	border-radius: 10px;
}
.right-arrow {
	position: absolute;
	top: 50%;
	right: 32px;
	font-size: 3rem;
	color: black;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}
.left-arrow {
	position: absolute;
	top: 50%;
	left: 32px;
	font-size: 3rem;
	color: black;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}
.slide {
	opacity: 0;
	transition-duration: 1s ease;
}
.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}
.text {
	color: #f2f2f2;
	font-size: 15px;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}

.slideshow {
	margin: 0 auto;
	overflow: hidden;
}

.slideshowSlider {
	white-space: nowrap;
	transition: ease 1000ms;
}

.slidert {
	display: inline-block;
	width: 50%;
	height: 500px;
	border-radius: 10px;
}

/* Buttons */

/* .slideshowDots {
	text-align: right;
	display: block;
	float: right;
}

.slideshowDot {
	height: 20px;
	width: 20px;
	border-radius: 50%;

	cursor: pointer;
	margin: 15px 7px 0px;

	background-color: #c4c4c4;
}

.slideshowDot.active {
	background-color: #6a0dad;
}

@media only screen and (max-width: 1020px) {
} */

.containerI {
	margin: 0 auto;
	width: 85%;
	height: 1000px;
	border: 2px solid black;
	background-color: #f8f8f8;
}

.imageContainer {
	height: 100%;
	width: 60%;
	border: 10px solid rgb(159, 177, 122);
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-radius: 30% 0 0 30%;
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
	transition: background-image 0.2s ease-in-out;
	float: right;
}

.controls {
	position: relative;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.controls__button {
	margin: 0 10px;
	font-size: 30px;
	cursor: pointer;
}

.topwapper {
	width: 100%;
	height: 35%;
	background-color: #87cefa;
}

.h1Style {
	width: 30%;
	float: left;
}
.h1Style p {
	color: white;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	margin-left: 50px;
}

.bnt {
	background-color: #6495ed;
	color: whitesmoke;
	border: none;
	border-radius: 15px;
	padding: 15px;
	font-weight: bold;
	margin-left: 60px;
	cursor: pointer;
}

@media only screen and (max-width: 1060px) {
	.containerI {
		margin: 0 auto;
		width: auto;
		border: 2px solid black;
		background-color: #f8f8f8;
	}
	.imageContainer {
		height: 100%;
		width: 60%;
		background-position: top left;
		background-size: cover;
		background-repeat: no-repeat;
		transition: background-image 0.2s ease-in-out;
		float: right;
	}
	.h1Style {
		width: 30%;
		float: left;
	}
	.h1Style p {
		margin-left: 10px;
		color: white;
		text-align: center;
	}
	.bnt {
		background-color: #6495ed;
		color: whitesmoke;
		border: none;
		border-radius: 15px;
		font-size: 10px;
		cursor: pointer;
	}
}

@media only screen and (max-width: 600px) {
	.containerI {
		/* margin: 0 auto; */
		margin-top: 20px;
		width: 100%;
		border: 2px solid black;
		background-color: #f8f8f8;
	}
	.imageContainer {
		height: 100%;
		width: 100%;
		border: none;
		border-radius: 0 0 0 0;
		/* background-position: top left; */
		background-size: cover;
		background-repeat: no-repeat;
		transition: background-image 0.2s ease-in-out;
		float: right;
	}
	.h1Style {
		display: none;
	}
}
