.NavbarContainer {
	width: 100%;
	height: 200px;
	top: 0;

	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 140%
	);
}

.NavbarWapper {
	width: 85%;
	margin: 0 auto;
	justify-content: space-between;
}

.topinfo {
	display: flex;
	justify-content: space-between;
}
.topinfo a {
	color: aliceblue;
	list-style-type: none;
}
.topmenu {
	display: none;
}
.empinfo {
	display: inline-block;
}
.brand {
	position: absolute;
	padding-left: 10px;
	float: left;
	line-height: 55px;
	text-transform: uppercase;
	font-size: 1.4em;
}
.brand a,
.brand a:visited {
	height: auto;
	width: 30%;
	float: left;
	justify-content: flex-start;
	margin-right: 550px;
}

.nav {
	height: auto;
	/* width: 100px; */
	float: right;
	justify-content: flex-end;
}
.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav li {
	float: left;
	position: relative;
}
.nav li a {
	/* display: block; */
	padding: 0 10px;
	line-height: 55px;
	color: #fff;
	text-decoration: none;
}

.nav li a:last-child {
	margin-right: 0;
}

.nav li a::before,
.nav li a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all 0.5s;
}

.nav li a::before {
	top: 0;
	transform-origin: left;
}

.nav li a::after {
	bottom: 0;
	transform-origin: right;
}

.nav li a:hover::before,
.nav li a:hover::after {
	transform: scaleX(1);
}

.navOn {
	display: none;
}

.barmenu {
	display: none;
}
.xicon {
	display: none;
}
@media only screen and (max-width: 1020px) {
	.barmenu {
		display: block;
		font-size: 30px;
		margin: 28px;
		justify-content: flex-end;
	}
	.barmenu:hover {
		color: rgb(162, 226, 162);
		cursor: pointer;
	}

	.nav li a {
		display: none;
	}

	.barmenuOff {
		display: none;
	}
	.topmenuOff {
		display: none;
	}
	.navOn {
		position: absolute;
		top: -15px;
		display: block;
		width: 260px;
		height: auto;
		background: linear-gradient(
			to left,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 140%
		);
		right: 0;
	}

	.navOn ul {
		position: relative;
		top: 0px;
		width: 55%;
		height: auto;
		background-color: red;
	}
	.navOn li a {
		padding: 10px;
		margin-left: 50px;
		display: inline-block;
		/* color: #333; */
	}
	.xicon {
		display: inline;
		color: red;
		margin-top: 5px;
		margin-left: 5px;
		float: left;
		cursor: pointer;
	}
	.xicon:hover {
		color: green;
	}

	.img {
		height: 250%;
		width: 250%;
	}
}

@media only screen and (max-width: 600px) {
	.barmenu {
		position: relative;
		top: 45px;
		font-size: 30px;
		margin: 20px;
		justify-content: flex-end;
		height: 35px;
		width: 40px;
		border: 1px solid #fff;
		border-radius: 5px;
		cursor: pointer;
	}
	.barmenu:hover {
		border: 1px solid rgb(60, 156, 60);
	}

	.empinfo {
		display: none;
	}
	.topmenu {
		display: block;
		margin-top: 10px;
		margin-bottom: -10px;
		margin-right: 25px;
	}

	.navOn {
		position: absolute;
		top: -15px;
		display: block;
		width: 260px;
		height: auto;
		background: linear-gradient(
			to left,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 140%
		);
		right: 0;
	}

	.navOn ul {
		position: relative;
		top: 0px;
		width: 55%;
		height: auto;
		background-color: red;
	}
	.navOn li a {
		padding: 10px;
		margin-left: 50px;
		display: inline-block;
		/* color: #333; */
	}
	.xicon {
		display: inline;
		color: red;
		margin-top: 5px;
		margin-left: 5px;
		float: left;
		cursor: pointer;
	}
	.xicon:hover {
		color: green;
	}
}

/* --------------------------------------------------------- */

/* @media only screen and (max-width: 800px) {
	.nav li a {
		display: none;
	}
	.barmenu {
		display: block;
		height: 25px;
		width: 30px;
		font-size: 25px;
		text-align: center;
		color: white;
		border: 1px solid rgb(112, 88, 42);
		padding: 1px;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
	}
	.barmenu:hover {
		border: 1px solid rgb(60, 156, 60);
	}
	.barmenuOff {
		display: none;
	}
	.navOn {
		position: relative;
		top: 40px;
		display: block;
		width: 120px;
		height: auto;
		background-color: rgb(211, 193, 193);
		float: right;
	}
	.navOn li a {
		padding: 10px;
		display: inline-block;
		color: #333;
	}
	.navOn li a:hover {
		background-color: rgb(51, 138, 219);
	}
	.xicon {
		display: inline;
		color: red;
		margin: 5px;
	}
	.xicon:hover {
		color: green;
	}
} */
